@inherits BlazorLayoutComponent
@page "/blazor"
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<Preloader />

<div class="sidebar">
    <NavMenu />
</div>

<Scrollbar />

<div class="grid-container">
    <div class="landing-page">
        <div class="landing-page__intro">
            <div class="landing-logo"></div>
        </div>
    </div>
    <MapComponent />
    <FetchSpice />
</div>

@functions {

    protected override void OnInit()
    {
        UriHelper.NavigateTo("/blazor");
    }
}