<a href="#" class="sidebar-menu fas fa-bars fa-lg"></a>
<nav class="sidebar-nav">
    <ul>
        <li>
            <NavLink class="sidebar-nav__link" href="blazor" Match=NavLinkMatch.All>
                <i class="blazor-logo"></i>Blazor
            </NavLink>
        </li>
        <li>
            <NavLink class="sidebar-nav__link" href="react">
                <i class="fab fa-react"></i>React
            </NavLink>
        </li>
        <li>
            <NavLink class="sidebar-nav__link" href="vue">
                <i class="fab fa-vuejs"></i>Vue
            </NavLink>
        </li>
    </ul>
    <Footer></Footer>
</nav>